.title{
    text-align: center;
}
.bottom-buffer{
    padding-bottom: 35px;
    /* provides space below bottom of component */
}
/* .input-group{
    width:40%;
    margin-left: 25%;
}
.btn{
    width:40%;
    margin-left: 25%;
}
.card-link{
    margin-left: 42%;
}
.signup{
    text-align: center;
}
*/

.container {background-color: #2E4770;}

.card-body{background-color: #CE5E82;}

.card{background-color: #ECA089;}

.title{color: #292651;}

.input-group-text{background-color:#292651;
color: white;}

.btn{position:relative;
margin-left: 35%;}

.card-link{
    margin-left: 35%;
}

.card-text{border-radius: 30px;}