<div class="row">
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Select Options
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active" href="#">Bands</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Venues</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
    </div>
    <div class="col-1">
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Venues Followed</th>
          <th scope="col">Bands Followed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>User 1</td>
          <td>User 1's Venue List </td>
          <td>User 1's Band List</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>User 2 </td>
          <td>User 2's Venue List </td>
          <td>User 2's Band List</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>User 3 </td>
          <td>User 3's Venue List </td>
          <td>User 3's Band List</td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- <nav>
      <ul>
        <li><a routerLink="/frontloginpage" routerLinkActive="active">login Component</a></li>
        <li><a routerLink="/user-band-list" routerLinkActive="active">band-list Component</a></li>
        <li><a routerLink="/search" routerLinkActive="active">search Component</a></li>
        
      </ul>
    </nav>
     -->
