<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div style="background-color: #292651;">
        <h4 class="text-Dark">Schlarb Dragon</h4>
      <span class="text-light">Choose your schlarb</span>
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a routerLink="/frontloginpage" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark" style="background-color: #ECA089;" id="list-home-list" data-toggle="list" href="#login" role="tab" aria-controls="home">Login</a>
            <a routerLink="/user-band-list" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark" style="background-color: #ECA089;" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile ">Band List</a>
            <a routerLink="/search" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark" style="background-color: #ECA089;" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Search</a>
            <a routerLink="/profile" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark" style="background-color: #ECA089;" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Profile</a>
          </div>
        </div>
        <!-- <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
        </div> -->
      </div>
      </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #2E4770;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </nav>
  </div>
